/*タブ切り替え全体のスタイル*/
.tabs {
  margin-top: 50px;
  padding-bottom: 40px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 700px;
  margin: 0 auto;}

/*タブのスタイル*/
.tab_item {
  width: calc(100%/9);
  height: 50px;
  border-bottom: 3px solid #5ab4bd;
  background-color: #d9d9d9;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.tab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  padding: 40px 40px 0;
  clear: both;
  overflow: hidden;
}


/*選択されているタブのコンテンツのみを表示*/
#rank2012:checked ~ #rank2012_content,
#rank2013:checked ~ #rank2013_content,
#rank2014:checked ~ #rank2014_content,
#rank2015:checked ~ #rank2015_content,
#rank2016:checked ~ #rank2016_content,
#rank2017:checked ~ #rank2017_content,
#rank2018:checked ~ #rank2018_content,
#rank2019:checked ~ #rank2019_content,
#rank2020:checked ~ #rank2020_content {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  background-color: #5ab4bd;
  color: #fff;
}

body {
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}
/* ランキング */
.ul_test1 li { border-bottom:1px solid gray; background-color:#eee; counter-increment:rank; font-family: "ヒラギノ角ゴ"; }
.ul_test1 li:hover { background-color:gray; }
.ul_test1 li a { display: block; }
