body{
  margin: 5px;
  padding: 20px;
  background-color: #cccccc;
  font-size: 10pt;
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
  line-height: 25pt;
}
.cp_tab *, .cp_tab *:before, .cp_tab *:after {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.cp_tab {
	margin: 1em auto;
	position: relative;
}
.cp_tab input[type='radio'] {
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 0;
	outline: none;
	background: none;
	-webkit-appearance: none;
	        appearance: none;
	display: none;
}
.cp_tab .cp_tabpanel {
	display: none;
}
.cp_tab > input:first-child:checked ~ .cp_tabpanels > .cp_tabpanel:first-child,
.cp_tab > input:nth-child(3):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(2),
.cp_tab > input:nth-child(5):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(3),
.cp_tab > input:nth-child(7):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(4),
.cp_tab > input:nth-child(9):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(5),
.cp_tab > input:nth-child(11):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(6),
.cp_tab > input:nth-child(13):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(7),
.cp_tab > input:nth-child(15):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(8) {
	display: block;
}
.cp_tab .cp_tabpanels {
	position: absolute;
	top:0;
	left: 10em;
	display: block;
	height: 320px;
}
.cp_tab > input + label {
	position: relative;
	z-index: 100;
	top: -15px;
	left: 1px;
	display: block;
	width: 2em;
	margin-bottom: -20px;
	padding: 15px;
	cursor: pointer;
	/*border: 1px solid #cccccc;*/
	border-right: 0;
	border-radius: 6px 0 0 6px;
}
.cp_tab > input + label:last-of-type {
	margin-bottom: 100px;
}
.cp_tab > label:hover,
.cp_tab > input:focus + label {
	color: #0066cc;
}
.cp_tab > input:checked + label {
	border-color: #cccccc;
	/*border-right: 1px ridge #aaaaaa;*//*背景色と同じ*/
}
.cp_tab .cp_tabpanel {
	padding: 0.5em 1em;
	/*border-left: 1px solid #cccccc;*/
	min-height: 320px;
}
@media (max-width: 480px) {
	.cp_tab {
		width: 100%;
	}
	.cp_tab > input + label {
	font-size: 0.7em;
	}
	.cp_tab .cp_tabpanels {
	left: 7em;
	min-width: 7em;
	}
}

  #sampleTabs {
      width: 50em;
      font-size: 12px;
  }
  .ui-tabs-vertical {
      width: 55em;
  }
  .ui-tabs-vertical > .ui-tabs-nav {
      padding: .2em .1em .2em .2em;
      float: left; width: 12em;
  }
  .ui-tabs-vertical > .ui-tabs-nav > li {
      clear: left; width: 100%;
      border-bottom-width: 1px !important;
      border-right-width: 0 !important;
      margin: 0 -1px 0.2em 0;
  }
  .ui-tabs-vertical > .ui-tabs-nav > li > a {
      display:block;
      width: 10em;
  }
  .ui-tabs-vertical > .ui-tabs-nav > li.ui-tabs-active {
      padding-bottom: 0;
      padding-right: .1em;
      border-right-width: 1px;
      border-right-width: 1px;
  }
  .ui-tabs-vertical > .ui-tabs-panel {
      padding: 1em;
      float: right;
      width: 35em;
  }
  .ui-tabs.ui-tabs-vertical > .ui-tabs-nav > li.ui-tabs-active {
      margin-bottom: 0.2em;
  }
