{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<!DOCTYPE html>
<html lang="ja">
<meta name="viewport" content="width=device-width>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BOOKWARM'S LIFE</title>
    <link href="{% static 'css/apps.css' %}" rel="stylesheet">
  </head>
  <body>
    <script type="text/javascript" src="{% static 'js/apps.js' %}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  </body>
</html>
<h1>BOOKWARM'S LIFE</h1>

<div class="cp_tab">
  <input type="radio" name="cp_tab" id="tab2_1" aria-controls="first_tab02" checked>
  <label for="tab2_1">2012</label>
  <input type="radio" name="cp_tab" id="tab2_2" aria-controls="second_tab02">
  <label for="tab2_2">2013</label>
  <input type="radio" name="cp_tab" id="tab2_3" aria-controls="third_tab02">
  <label for="tab2_3">2014</label>
  <input type="radio" name="cp_tab" id="tab2_4" aria-controls="force_tab02">
  <label for="tab2_4">2015</label>
  <input type="radio" name="cp_tab" id="tab2_5" aria-controls="fifth_tab02">
  <label for="tab2_5">2016</label>
  <input type="radio" name="cp_tab" id="tab2_6" aria-controls="sixth_tab02">
  <label for="tab2_6">2017</label>
  <input type="radio" name="cp_tab" id="tab2_7" aria-controls="seventh_tab02">
  <label for="tab2_7">2018</label>
  <input type="radio" name="cp_tab" id="tab2_8" aria-controls="eighth_tab02">
  <label for="tab2_8">2019</label>

  <div class="cp_tabpanels">
    <div class="cp_tabpanel">
      <h2>2012</h2>
        <h3>108</h3>
        <p>TBD</p>
        <h3>TAC</h3>
        <p>TBD</p>
    </div>
    <div class="cp_tabpanel">
      <h2>2013</h2>
	<li><a href="https://www.amazon.co.jp/一億総ツッコミ時代-星海社新書-槙田-雄司/dp/4061385267">一億総ツッコミ社会</a></li>
	<li><a href="./blank.html">アズミ・ハルコは行方不明</a></li>
	<li><a href="./blank.html">らんる曳く</a></li>
	<li><a href="./blank.html">ワールズ・エンド・ガーデン</a></li>
	<li><a href="./blank.html">歩くような速さで</a></li>
	<li><a href="./blank.html">復讐</a></li>
	<li><a href="./blank.html">幻年時代</a></li>
	<li><a href="./blank.html">新宿スペースインベーダー</a></li>
	<li><a href="./blank.html">ギャルと不思議ちゃん論</a></li>
	<li><a href="./blank.html">ノベライズ・テレビジョン</a></li>
    </div>
    <div class="cp_tabpanel">
      <h2>2014</h2>
    </div>
    <div class="cp_tabpanel">
      <h2>2015</h2>
    </div>
    <div class="cp_tabpanel">
      <h2>2016</h2>
    </div>
    <div class="cp_tabpanel">
      <h2>2017</h2>
    </div>
    <div class="cp_tabpanel">
      <h2>2018</h2>
      <h3>108</h3>
        <p>TBD</p>
      <h3>TAC</h3>
        <ol>
          <li><a href="http://tacbook.hatenablog.com/entry/2018/03/31/200826">アウシュビッツの図書係</a> / アントニオ G イトゥルベ</li>
          <li><a href="http://tacbook.hatenablog.com/entry/2018/04/30/235256">殺人犯はそこにいる</a> / 清水 潔</li>
          <li><a href="http://tacbook.hatenablog.com/entry/2018/07/11/191657">べつの言葉で</a> / ジュンパラヒリ</li>
          <li><a href="http://tacbook.hatenablog.com/entry/2018/01/29/201249">すべての雑貨</a> / 三品 輝起</li>
          <li><a href="http://tacbook.hatenablog.com/entry/2018/01/19/235330">罪の声</a> / 塩田 武士</li>
          <li><a href="http://tacbook.hatenablog.com/entry/2018/02/02/063508">菜食主義者</a> / ハン・ガン</li>
          <li><a href="http://tacbook.hatenablog.com/entry/2018/12/02/135503">ある奴隷少女に起こった出来事</a> / ハリエット・アン・ジェイコブズ</li>
          <li><a href="http://tacbook.hatenablog.com/entry/2018/05/14/185147">失点イン・ザ・パーク</a> / ECD</li>
          <li><a>芸人前夜 / 中田 敦彦</li>
          <li><a href="http://tacbook.hatenablog.com/entry/2018/11/10/230557">NO PLACE TO HIDE </a> / グレン・グリーンウォルド</li>
        </ol>
    </div>
    <div class="cp_tabpanel">
      <h2>2019</h2>
    </div>
  </div>
</div>

