{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<!DOCTYPE html>
<html lang="ja">
<meta name="viewport" content="width=device-width>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BOOKWARM'S LIFE</title>
    <link href="{% static 'css/apps.css' %}" rel="stylesheet">
  </head>
  <body>
    <script type="text/javascript" src="{% static 'js/apps.js' %}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  </body>
</html>
<h1>BOOKWARM'S LIFE</h1>
  <div class="cp_tabpanels">
    <div class="cp_tabpanel">
      <h2>2012</h2>
        <h3>108</h3>
          <ol>
            <li>ここは退屈迎えに来て / 山内マリコ</li>
            <li>千年の祈り / イーユン・リー</li>
            <li>サンカーラ / 田口ランディ</li>
          </ol>
        <h3>TAC</h3>
          <ol>
            <li>何もかも憂鬱な夜に / 中村文則</li>
            <li>64 / 横山秀夫</li>
            <li>絶望の国の幸福な若者たち / 古市憲寿</li>
          </ol>
    </div>
  </div>
